
.home-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../src/assets/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    flex-grow: 1;
    padding-top: 8rem;
    margin: 0 3rem;
}
h1{
    font-size: 2rem;
    color: #ff4f5a;
}
section p {
    width: 600px;
    margin-bottom: 5rem;
    font-size: 3rem;
    color: #385a64;
    font-weight: bold;
}
.sign-up-btn{
    border-color: #ff4f5a;
    color: #385a64;
    background: #FFF;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

.sign-in-btn{
    border: none;
    background-color: #ff4f5a;
    color:#fff;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}
.footer-container{
    display: flex;
    background: #ff4f5a;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #fff;
}
.copyright-text{
    display: flex;
    align-items: center;
    align-content: center;
}
.copyright-text p{
    margin-left: 0.2rem;
}
.find-me-icons{
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 2rem;
}
.find-me-icons a{
    text-decoration: none;
    color: #fff;
}
.background-image-link{
    text-decoration: none;
    color: #fff;
    font-size: 0.5rem;
}

/* User Profile */
.user-profile-card{
    position: absolute;
    width: 350px;
    height: 410px;
}
.user-profle-container{
    background: #e9e4dfdf;
    width: 100%;
    height: 100%;
}
.user-page-container nav{
    display: flex;
    align-items: center;
    background: #F0A350;
    color: #385a64;
    font-size: 2.3rem;
    padding: 5px;
}
.user-name-and-avatar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.user-name-and-avatar .user-name-and-avatar-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    background-color: #385a64f5;
    font-size: 1.3rem;
    color:#fff;
    font-weight: bold;
}
.user-name-and-avatar img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.user-profile-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-profile-content span{
    color: #385264;
    font-size: 1.1rem;
    font-weight: bold;
}
.upload-avatar button{
    margin-top: 10px;
    width: 70%;
    background: #385264;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile-content p,
.upload-avatar{
    color: #385264;
    padding:0 5px;
    margin: 10px;
}
.flex-grow{
    flex-grow: 1;
}
.user-profile-footer{
    display: flex;
    justify-content: space-around;
    background: #385a64;
    padding: 10px 0;
}
.user-profile-footer button{
    color: #fd2432;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    padding:5px 10px;
    cursor: pointer;
}
/* Sign In and Sign Up Modal */
.sign-in-modal,
.sign-up-modal{
    position: absolute;
    top: 10%;
    left: 42%;
}
.sign-up-modal{
    top: 5%;
}
.signIn-container,
.signUp-container{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 2rem;
    background: #fff;
    box-shadow: 0 0 20px rgba(214, 72, 72, 0.9);
    text-align: center;
    padding: 0.5rem 0 3rem 0;
}
.signUp-container{
    height: 600px;
}

.avatar-container{
    display: flex;
    margin: 1rem auto;
    width: 100px;
    height: 100px;
    background: #ff4f5a;
    border-radius: 100%;
}
.signIn-container h1,
.signUp-container h1{
    color: #385a64;
}
form{
    width: 90%;
    margin: 0 auto;
}

input[type="email"],
input[type="text"]{
    margin-bottom: 1.5rem;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 90%;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 40px;
    color:#262626;
    border-bottom: 2px solid #385a64;
    background: transparent;
    padding-left: 1rem;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border-bottom: 2px solid #ff4f5a;

}
input[type="submit"]{
    margin-top: 4rem;
    width: 90%;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 40px;
    background: #385a64;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

/* USER PAGE */
.user-page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../src/assets/userPage.jpg');
    background-position: -350px 40px;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-page-container form{
    width: 100%;
}
.content{
    flex-grow: 1;
    width: 40vw;
    margin-left: auto;
}
.todo-container{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 60px;
    color: #262626;
    border-bottom: 2px solid #F0A350;
    background: transparent;
    padding-left: 1rem;
}
.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
    height: 60px;
    background: #385264;
}
.pagination-numbers-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.pagination-numbers-container button{
    border: none;
    background: #fff;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.type-of-todos-container{
    display: flex;
}
.edit-delete-icons{
    margin-left: auto;
    display: flex;
    align-items: center;
}
